@import url("styles/animations.css");
@import url("styles/variables.css");

#root {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto max-content;

  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: Inter, Tahoma, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  text-size-adjust: 100%;

  background-color: black;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.25;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  text-align: start;
}

button {
  margin: 0;
  padding: 0;
}
