* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: LexendExa, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--light-color);
  text-rendering: optimizelegibility;

  color-scheme: light dark;
  background-color: var(--dark-color);

  font-synthesis: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: flex;
  place-items: center;

  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

#app {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;

  padding: 0.6em 1.2em;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;

  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;

  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
