:root {
  --small-space: 5px;
  --smaller-space: 10px;
  --default-space: 15px;
  --bigger-space: 20px;
  --big-space: 30px;
  --animation-elastic: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --animation-smooth-ease: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --animation-spring: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --animation-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
}
