/* src/pages/RegisterPage/components/css/register-styles.css */
img {
  display: block;
  /* max-height: 100%; */
  height: auto;
  z-index: -1;
}

.register {
  display: flex;
}

.register__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  inset: 0;
}

.register__form {
  position: relative;
  align-items: center;
  justify-content: center;

  margin-inline: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
  background-color: hsla(0, 0%, 100%, .01);
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding: 2.5rem 1.5rem;
  color: var(--white-color);
  border-radius: 1rem;
  backdrop-filter: blur(16px);
}

.register__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.25rem;
}

.register__inputs {
  display: grid;
  gap: 1.25rem;
  margin-bottom: 1rem;
}

.register__box {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.register__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
  border: none;
  outline: none;
}

.register__input::placeholder {
  color: var(--white-color);
}

.register__box i {
  font-size: 1.25rem;
}

.password-toggle {
  cursor: pointer;
  transition: color 0.3s;
}

.password-toggle:hover {
  color: var(--white-color);
}

.register__button {
  width: 100%;
  padding: 1rem;
  background-color: var(--white-color);
  color: var(--black-color);
  border: none;
  border-radius: 4rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1.5rem;
}

.register__button:hover {
  background-color: hsl(0, 0%, 90%);
}

.register__login {
  font-size: var(--small-font-size);
  text-align: center;
  margin-top: 1.5rem;
}

.register__login a {
  color: var(--white-color);
  font-weight: 500;
}

.register__login a:hover {
  text-decoration: underline;
}