.container {
  width: max-content;
  height: 100%;
  position: relative;
}

.racket {
  width: 10px;
  height: 50px;

  background-color: white;
  position: absolute;
  transform: translateY(-50%);
}

.racket_left {
  left: 10px;
}

.racket_right {
  right: 10px;
}
