.scoreboard {
  position: absolute;
  top: var(--smaller-space, 10px);
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;
  column-gap: var(--smaller-space, 10px);
  align-items: center;

  font-size: 2rem;
  font-weight: 700;
}

.scoreboard__cards {
  display: flex;
  flex-direction: row;
  column-gap: var(--small-space, 5px);
}
